body {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
}

/* Typogpraphy */
h1 {
  font-size: 3rem;
}

h2 {
  color: #f57542;
}

header {
  text-align: center;
  background-color: #C0C0C0;
  color: black;
  padding: 40px;

}

.container {
  margin: 0 auto;
  width: 70%;
  max-width: 900px;
  padding: 15px;
  border: 2px solid magenta;

}

.description {
  /*border: yellow solid;*/
  background: #839192;
  width: 600px;
  margin: auto;
  text-align: left;
  margin-top: 40px;
  padding: 40px;

}

.sale {
  background-color: rgba(192 192 192);
  padding: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 45px;
  background: white;
  color: black;
}

.btn:hover {
  background: #4287f5;
  color: black;
  
}

.section-two {
  padding: 30px;
}

.section-three {
  background-color:#C0C0C0;
  color: black;
  padding: 30px;
}

.footer {
  background: #111;
  color: orange;
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);

}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
/*  font-weight: var(--fw-bold);*/
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}
